.projects{
    width: 100%;
    height: auto;

    padding: 25px 15px;

    background: color(blue, xlight);

    @include flex($dir: column);

    @include mq(tablet){
        @include flex($dir: row, $wrap: wrap){
            justify-content: space-between;
            align-content: center;
        }
    }

    &__card{
        width: 100%;
        border-radius: 15px;

        margin-bottom: 15px;

        &+&{
            margin-top: 25px;
        }
        @include mq(tablet){
            width: 48%;
            &+&{
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        @include mq(desktop){
            width: 30%;
            &+&{
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &__top{
            width: 100%;
            height: 150px;
            
            border:3px solid color(white);
            
            background:color(blue, base, .5);
            
            border-top-left-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
        }
        &__bottom{
            width: 100%;
            height: 200px;

            background: color(white);
            
            border-bottom-left-radius: $card-border-radius;
            border-bottom-right-radius: $card-border-radius;
            
            padding: 15px;

            @include grid($temp: 30px auto 60px / 3fr 1fr, $areas: "title button" "desc button" "langs button"){
                align-items: center;
                grid-column-gap: 15px;
                grid-gap: 5px;
            }

            &__title{
                grid-area: title;
                font-size: 1.2rem;
                font-weight: bold;
            }

            &__desc{
                grid-area: desc;
                margin: 5px 0;
                font-weight: 100;
                font-style: italic;
            }

            &__langs{
                grid-area: langs;
                li{
                    display: inline-block;

                    background: color(blue);

                    padding: 5px 10px;

                    color:white;
                    font-weight: 100;

                    // border-radius: 6px;

                    &:nth-last-of-type(2n+0) {
                        background:color(blue,xlight);
                    }
                    
                }
            }

            &__github{
                grid-area: button;

                @include flex{
                    justify-content: center;
                    align-items: center;
                }

                justify-self: center;
                align-self: center;
                
                width: 100%;
                height: 50%;
                text-align: center;

                color:color(white);
                text-decoration: none;
                font-size: .8rem;
                font-style: italic;

                border-radius: 6px;
                
                background: color(blue);
            }
        }
    }
}